<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoApp</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<header>
    <h1>Todo App</h1>
    <p>Things to do</p>
    <nav>
        <ul>
            <li sec:authorize="hasRole('ADMIN')">
                <a href="\projects">Projects</a>
            </li>
            <li>
                <a href="\groups">Tasks groups</a>
            </li>
            <li>
                <a href="\tasks.html">Tasks</a>
            </li>
        </ul>
    </nav>
</header>

</body>
</html>